body {
    display: flex;
    flex-direction: column;   /* xếp dọc*/
    align-items: center;
    background-color: black;
    color:aqua    /* căn giữa nội dung */
}

#image img {
    width: 20%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0,0.8);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

/* Các mục nội dung căn giữa */
.gioithieubanthan,
.hocvan,
.sothich,
.diemmanh {
    text-align: left;
    width: 80%;
    margin-top: 30px;
}
/* Tiêu đề mục */
h2 {
    color: aqua;
    font-size: 28px;
    margin-bottom: 10px;
}
/* Danh sách*/
ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    padding: 8px 0;
    border-bottom: 1px solid blue;
}